 <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold" style="font-size: 30px">
                    <span class="text-primary font-weight-bold border border-white px-3 mr-1" style="font-size: 45px">IT 1</span>Mobile Shop
                </h1>
            </a>
            <p>IT1 Moblie Shop chuyên cung cấp điện thoại chính hãng, giá tốt nhất.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>it1moblieshop@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-angle-right mr-2"></i>Home
                        </a>
                        <a class="text-dark mb-2" asp-controller="Home" asp-action="Shop">
                            <i class="fa fa-angle-right mr-2"></i>Our Shop
                        </a>
                        <a class="text-dark mb-2" asp-controller="Cart" asp-action="DetailCart">
                            <i class="fa fa-angle-right mr-2"></i>Shopping Cart
                        </a>
                        <a class="text-dark" asp-controller="Home" asp-action="Contact">
                            <i class="fa fa-angle-right mr-2"></i>Contact Us
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 utc-map">
                    <h5 class="font-weight-bold text-dark mb-4">IT1 Moblie Shop Address</h5>
                    <iframe 
                        class="ng-tns-c0-0" 
                        allowfullscreen="" 
                        height="220" 
                        loading="lazy" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1228608575834!2d105.80064111432421!3d21.02776948599887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBHaWFvIHRow7RuZyBW4bqtbiB04bqjaQ!5e0!3m2!1svi!2s!4v1539544397383" 
                        style="border-radius:25px;border:0;width:100%">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>